<% content_for :header do %>
  <%= @feed.title %>
<% end %>

<%= link_to "Refresh Feed", refresh_feed_path(@feed), class: "btn btn-warning btn-lg btn-block" %>

<div id="render-items">
  <%= render @feed.items.current %>
</div>


<% content_for :footer do %>
  <%= link_to "Back", feeds_path, { class: "btn btn-warning btn-lg btn-block btn-nav" } %>
<% end %>
