/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

body {
  font-size: 2em;
  // color: #428BCA;
  // background: linear-gradient(135deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
  // background: linear-gradient(135deg, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%); /* W3C */
  background: linear-gradient(135deg, #ffce8a 0%,#f89307 24%,#bb6d02 50%,#ffbc5f 79%,#f89307 100%); /* W3C */
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: url(rss2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  opacity: 0.1;
}

form.buffer {
  margin: 1.2em;
}

.btn {
  border-radius: 0px;
}

.btn-nav {
  background-color: black;
  border: none;
}

.col-md-4 {
  padding: 0px;
}

.container-fluid {
  height: 100%;
  padding: 0px;
}

.exception {
  color: red;
  padding: 1em;
}

.navbar-brand {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 1.8em;
  white-space: nowrap;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-toggle {
  position: absolute;
  z-index: 10;
  right: 0;
  background-color: black;
}
