/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

body {
  font-size: 2em;
  background: linear-gradient(135deg, #ffce8a 0%,#f89307 24%,#bb6d02 50%,#ffbc5f 79%,#f89307 100%); /* W3C */
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  // background: url(rss2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  opacity: 0.1;
}

form.buffer {
  margin: 1.2em;
}

.btn {
  border-radius: 0px;
}

.btn-nav {
  background-color: black;
  border: none;
}

div[class^="col-"] {
  padding: 0px;
}

.container-fluid {
  height: 100%;
  padding: 0px;
}

.exception {
  color: red;
  padding: 1em;
}

.navbar-brand {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 1.8em;
  white-space: nowrap;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-toggle {
  position: absolute;
  z-index: 10;
  right: 0;
  background-color: black;
}

.flash {
  display: none;
  text-align: center;
  padding: 0.2em;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkgrey;
  color: black;
  font-style: italic;
  font-weight: bold;
}
